name: Notificaci贸n a ntfy

on:
  push:
    branches: [ "main" ]

jobs:
  notificar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Enviar notificaci贸n a ntfy
        run: |
          curl -d "Se subi贸 c贸digo al repositorio (branch main)" https://ntfy.sh/devops-itla
