
name: Notificaci贸n a ntfy

on:
  push:
    branches:
      - main

jobs:
  enviar-alerta:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del c贸digo
        uses: actions/checkout@v3

      - name: Enviar notificaci贸n a ntfy
        run: |
          curl -d "Se ha subido c贸digo nuevo al repositorio en la rama main " ntfy.sh/devops-itla
